.services-section {
    background-color: #f8f9fa;
    /* Light gray */
    padding: 50px 0;
}

.service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.service-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.service-card .card-body {
    padding: 20px;
}

.service-card h3 {
    color: #333;
}

.service-card p {
    color: #666;
}

.card-text a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.card-text a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: currentColor;
    transition: width 0.3s ease, right 0.3s ease;
}

.card-text a:hover::after {
    width: 100%;
    right: 0;
}

.img {
    background-color: whitesmoke;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.img:hover {
    background-color: lightgray;
    /* Change to desired color on hover */
}